<!doctype html>
<html lang="en">
<style type="text/css">
	.fileinput-button input{
            /*position:absolute;*/
            right: 0px;
            top:0px;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            font-size: 200px;
        }
</style>
<head>
	<title>国外社交平台</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="assets/vendor/chartist/css/chartist-custom.css">

	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/css/demo.css">
	<link rel="stylesheet" href="assets/css/my.css">
    
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/.png">
</head>

<body class="bg">
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar banjitop_pic">
        			 <div class="yuyan">
                     <ul>
                     <a href="index.html" ><li class="aa">English</li></a>  
                      <a href="index.html" > <li>中文</li></a>
                      </ul>
                     </div>
			         <h2 align="center" class="colorblue font40 banjiziw">见济人力资源后台</h2>
            
        
            <div class="banjiw">
              <div class="banji_btn">
              <div class="banji_btn1 padright fleft">
                 <ul class="fright">
                <a href="index.html" ><li>员工管理</li></a>
               <a href="mission.html"> <li>使命图</li></a>
               </ul>
              </div>
              <div class="banji_btn1 padleft fright">
                 <ul class="fleft">
                <a href="set.html" ><li>设置</li></a>
               <a href="help.html"> <li>帮助</li></a>
               </ul>
              </div>
              
            </div>
            
            </div>
            <div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth" onclick="show1()"><img  id="saveimg" src="assets/images/jtgray.png" width="25px" height="25px" ></button>
				</div>
                
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
	  <div id="sidebar-nav" id="show" class="sidebar">
            <div><img src="assets/images/banji_left1.png" width="273" height="57"></div>
			<div class="sidebar-scroll">
               
				<nav>
					<ul class="nav">
                    <a href="index.html"  ><div id="fanhui"><i class="lnr lnr-chevron-left"></i><span>返回</span></div></a>
                    <li style="background: none;"><a href="#" style="background: none;"></a></li>
                    <li style="background: none;"><a href="#" style="background: none;"></a></li>
                    <li style="background: none;"><a href="#" style="background: none;"></a></li>
                    <li style="background: none;"><a href="#" style="background: none;"></a></li>
                    <li style="background: none;"><a href="#" style="background: none;"></a></li>
                    <li style="background: none;"><a href="#" style="background: none;"></a></li>
                    <li style="background: none;"><a href="#" style="background: none;"></a></li>

			
                        
					</ul>
				</nav>
			</div>
             <div><img src="assets/images/banji_left3.png" width="273" height="222"></div>
</div>
<script>
                            function show() {
                                if ($("#show").css("display") == "none") {
                                    $("#show").show();
                                } else {
                                    $("#show").hide();
                                }

                            }
                            function show1() {
                                if ($("#show").css("display") != "none") {
                                	$('#saveimg').attr('src','assets/images/jtblue.png');
                                    $("#show").hide();
                                }
                                if($("#sidebar-nav").css("display") != "none"){
                                    $("#sidebar-nav").hide();
                                }else{
                                	$('#saveimg').attr('src','assets/images/jtgray.png');
                                     $("#sidebar-nav").show();
                                }

                            }
                        </script>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
				  <div class="panel"> 
                    <div><span class="fleft jiaocorlor"></span><span class="fright jiaocorlor_1"></span></div>
                     <span class="clearfix"></span>
                     <div>
                       <div class="fleft"> <div class="leftyd"><img src="assets/images/banjileft1.png"  ></div></div>
                       <div class="title">
        <h4 class="colorwhite" align="center">添加员工</h4>
                </div>
                <div class="banji_rightrr pad20" >
                  <div style="width:1050px; margin:0 auto; ">  
                  <div class="addclass"> 
                  <div class="addclass"> 
                  <div class="addclass" id="marginb">
                    <div class="search_left_n  colorwhite" style="text-align:left; text-indent:30px;">
                  
                  请添加员工的电话，
我们将会给他们发送邀请，指引他们完成接下来的步骤。
                                       
                  </div>                          
                </div>  
                
                               
                 
  <div class="addclass" id="marginb">
                    <div class="search_left_n">
                   <div class="fleft search_nearzi">姓名:</div> 
                   <div class=" fleft"> 
                    <div class="searchg_left1"></div>
                    <div class="addclass_mid_n">
                    <div class="fleft">
                    <!-- <input name="" type="text" id="addclass_w" style="color:#FFF; outline:none; " value="姓名" onfocus="this.value=''" onblur="this.value='姓名'"> -->
                    <input name="user_name" type="text" id="addclass_w" placeholder="请输入员工名称" style="color:#FFF; outline:none; "  onfocus="this.value=''">
                    </div>   
                                       
                    </div>
                    <div class="searchg_right1"></div>
                    </div>                    
                  </div>                          
                </div>
<!--    <div class="addclass" id="marginb">
                    <div class="search_left_n">
                   
                   <div class=" fright"> 
                    <div class="searchg_left1"></div>
                    <div class="addclass_mid_n">
                    <div class="fleft">
                    <input name="" type="text" id="addclass_w" style="color:#FFF; outline:none; " value="邮箱" onfocus="this.value=''" onblur="this.value='邮箱 '">
                    <input name="email" type="text" id="addclass_w" placeholder="请输入邮箱" style="color:#FFF; outline:none; "  onfocus="this.value=''">
                    </div>   
                                       
                    </div>
                    <div class="searchg_right1"></div>
                    </div>                    
                  </div>                          
                </div>  -->            
                
                
  <div class="addclass" id="marginb">
                    <div class="search_left_n">
                   <div class="fleft search_nearzi">手机:</div> 
                   <div class=" fright"> 
                    <div class="searchg_left1"></div>
                    <div class="addclass_mid_n">
                    <div class="fleft">
                    <!-- <input name="" type="text" id="addclass_w" style="color:#FFF; outline:none; " value="手机" onfocus="this.value=''" onblur="this.value='手机'"> -->
                    <input name="mobile" type="text" id="addclass_w" placeholder="请输入手机号码" style="color:#FFF; outline:none; "  onfocus="this.value=''">
                    </div>   
                                       
                    </div>
                    <div class="searchg_right1"></div>
                    </div>                    
                  </div>                          
                </div>  

    <div class="addclass" id="marginb">
                    <div class="search_left_n">
                   <div class="fleft search_nearzi">部门:</div>
                   <div class=" fright"> 
                    <div class="searchg_left1"></div>
                    <div class="addclass_mid_n">
                    <div class="fleft">
                    <!-- <input name="" type="text" id="addclass_w" style="color:#FFF; outline:none; " value="手机" onfocus="this.value=''" onblur="this.value='手机'"> -->
                    <input name="department_id" type="text" id="addclass_w" placeholder="请输入部门" style="color:#FFF; outline:none; "  onfocus="this.value=''">
                    </div>   
                                       
                    </div>
                    <div class="searchg_right1"></div>
                    </div>                    
                  </div>                          
                </div> 

        <div class="addclass" id="marginb">
                    <div class="search_left_n">
                   <div class="fleft search_nearzi">性别:</div>
                   <div class=" fright"> 
                    <div class="searchg_left1"></div>
                    <div class="addclass_mid_n">
                    <div class="fleft">
                    <!-- <input name="" type="text" id="addclass_w" style="color:#FFF; outline:none; " value="手机" onfocus="this.value=''" onblur="this.value='手机'"> -->
                    <input name="sex" type="text" id="addclass_w" placeholder="请输入性别" style="color:#FFF; outline:none; "  onfocus="this.value=''">
                    </div>   
                                       
                    </div>
                    <div class="searchg_right1"></div>
                    </div>                    
                  </div>                          
                </div>
       </div>
             <div align="center" class="margin_left1"><img src="assets/images/jiahao.png" width="50" height="50"></div>
                </div>

                      <div class="fright addclass_r">
              <div class="fleft"><div class="fleft colorwhite addclsss_wz">第一步：</div>
                  <a href="assets/add.xlsx" type="download"  download="电子表.xlsx">
                      <div class="greenbtn fright addclsss_wz1">
                          下载表格</div>
                  </a>
              </div>
              <span class="blank10"></span>   
              <div class="fleft"><div class="fleft colorwhite addclsss_wz">第二步：</div>
                  <div class="colorwhite fright addclsss_wz1">请导入下载完后，填写了相关人员信息的表格<br><br>
                <div>
                    <a href="javascript:;" onclick="showupload();">

                        <img src="assets/images/jiahao.png" width="100" height="100">
                    </a>
                </div>
<div class="file-box" id="upload" style="display:none;">
    <form action="/ssm/company/uploadFile" method="POST" enctype="multipart/form-data">
        <input type="file" name="excelFile" id="filefield"/>
        <input type="submit" class="btn" value="保存"/>
    </form>
</div>
<style type="text/css">
        .file-box{ position:relative;width:340px;margin:20px;}
        .txt{ height:28px;line-height:28px; border:1px solid #cdcdcd; width:180px;}
        .btn{width:70px; color:#fff;background-color:#3598dc; border:0 none;height:28px; line-height:16px!important;cursor:pointer;}
        .btn:hover{background-color:#63bfff;color:#fff;}
        .file{ position:absolute; top:0; right:85px; height:30px;line-height:30px; filter:alpha(opacity:0);opacity: 0;width:254px }
</style>
<script type="text/javascript">
	function showupload() {
	    if ($("#upload").css("display") == "none") {
	        $("#upload").show();
	    } else {
	        $("#upload").hide();
	    }
	}
	function showupload1() {
	    if ($("#upload").css("display") != "none") {
	        $("#upload").hide();
	    } else {
	        $("#upload").show();
	    }
	}
// **********
    window.load=function(){
        //显示了文件名
        var filedata =document.getElementById('textfield').
            value=this.files[0].name;
        if(filedata){
            $("#textfield").val(filedata);
		}
	}

// ************
</script>

</div></div>    
           </div>
                        </div> 
                        <span class="blank40"></span>
                        <div class="set_w_w" id="marginb">
                        	<!-- <a href="addhr_sub.html">  -->
                        	<a href="javascript:;" onclick="addhr();">
                        		<div class="baocun_btn fleft">确认</div></a>  <a href="#"><div class="baocun_btn fright">取消</div>
                        	</a></div>
                         
                       </div>
                       <div class="fright"><div class="leftyd"><img src="assets/images/banjileft1_1.png"  ></div></div>
                     </div>
                     <span class="clearfix"></span>
                   <div class="leftydb"></div>
                     <div ><span class="fleft jiaocorlor_2"></span><span class="fright jiaocorlor_3"></span></div>
                     
                     
                  </div>
                  
                  
                  
                 <div class="panel" id="jianbian">
                    <div><span class="fleft jiaocorlor"></span><span class="fright jiaocorlor_1"></span></div>
                    <div class="leftydb1"></div>
                      <span class="clearfix"></span>
                    <div id="jianbianwhite"> </div>
                  </div> 
                  
              
              </div> 
              </div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright"></p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script>
  <script src="js/systemdata.js"></script>
	<script type="text/javascript">
  var token1 = sessionStorage.getItem('token');
		function addhr(){
			var user_name=$("input[name='user_name']").val();
			var gender=$("input[name='sex']").val();
			var mobile=$("input[name='mobile']").val();
            var department_id=$("input[name='department_id']").val();
      // var arr =
      // ;
      //
      //var data = JSON.stringify(arr);
   	        $.ajax({
              headers: {
                    "token":token1//此处放置请求到的用户token
                },
               // contentType: "application/json;charset=UTF-8",
               url:  "/ssm/company/AddPeople",
              type: "POST",
              data:{
              "department_id":department_id,
              "gender":gender,
              "mobile":mobile,
              "user_name":user_name},
              dataType: "json",
              success: function (result) {//
                  var a = result.data;
                console.log(result.data)
                if(result.code == 1){
                    alert('添加成功');
                }else{
                    // alert(data.msg);
                    location.href="/hr/index.html";
                }               
              },
              error: function () {
                  console.log("出错了");
              }
          });
		}


    // function down_excel(){
    //  // window.location.href=apihost+"/company/other/localExcel?token="+token1;
    //     window.location.href=apihost+"/company/localExcel"
    // }

	</script>

</body>

</html>
