<!doctype html>
<html lang="en">

<head>
	<title>国外社交平台</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="assets/vendor/chartist/css/chartist-custom.css">

	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/css/demo.css">
	<link rel="stylesheet" href="assets/css/my.css">
    
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/.png">
</head>

<body class="bg">
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar banjitop_pic">
        			 <div class="yuyan">
                     <ul>
                     <a href="index.html" ><li class="aa">English</li></a>  
                      <a href="index.html" > <li>中文</li></a>
                      </ul>
                     </div>
			         <h2 align="center" class="colorblue font40 banjiziw">见济教师后台</h2>
            
        
            <div class="banjiw">
              <div class="banji_btn">
              <div class="banji_btn1 padright fleft">
                 <ul class="fright">
                <a href="index.html" ><li>班级</li></a>
               <a href="mission.html"> <li>使命图</li></a>
               </ul>
              </div>
              <div class="banji_btn1 padleft fright">
                 <ul class="fleft">
                <a href="set.html" ><li>设置</li></a>
               <a href="help.html"> <li>帮助</li></a>
               </ul>
              </div>
              
            </div>
            
            </div>
            
                
		</nav>
		<div class="search_left" style="margin-left: 25%;">
                    <div class="searchg_left"><span class="left"><img src="assets/images/banji_pic7.png" width="28" height="26"></span></div>
                    <div class="searchg_mid"><input name="helpname" id="helpname" placeholder="请输入帮助标题" type="text" class="bjlogingginput" style="color:#fff; outline:none;" onfocus="this.value=''" ></div>
                    <div class="searchg_right"></div>
                  </div>
                  <a href="javascript:;" onclick="find_help();"><div class="search_right" style="float:left;">搜索</div></a>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
	  
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
    <div style="position: absolute;margin-left: 200px;margin-top: 150px;color:white;"><a href="help.html"> <div style="background: url(../images/titlebg.png) center no-repeat;height: 42px;border-radius: 42px;width: 125px;float: left;z-index: 10000;position: absolute;color: #FFF;text-align: center;line-height: 42px;padding: 0 32px; margin-top: -30px;"><span class="left"></span>返回</div></a></div>
		<div class="main1" >
			
			<!-- MAIN CONTENT -->
			<div class="main-content">

				<div class="container-fluid">
				  <div class="panel"> 
                    <div><span class="fleft jiaocorlor"></span><span class="fright jiaocorlor_1"></span></div>
                     <span class="clearfix"></span>
                     <div>

                       <div class="fleft"> <div class="leftyd"><img src="assets/images/banjileft1.png"  ></div></div>
                       <div class="title">
        <h4 class="colorwhite" align="center">帮助</h4>
                </div>
                    <div class="banji_rightrr pad20">
						<div style="position: absolute;margin-top: 10px;margin-left: 239px;color: white;">主题：</div><div class="set_fankui set_fankuiw" style="height:20px;"><textarea style="height: 25px;margin-top: -10px;" cols="50" rows="10" name="textarea1" id="textarea1" placeholder="主题" onkeydown="textdown(event)" onkeyup="textup()" onfocus="if(value=='主题'){value=''}" onblur="if (value ==''){value='主题'}"></textarea></div>
							<span class="blank10"></span>
                            						<div style="position: absolute;margin-top: 10px;margin-left: 239px;color: white;">姓名：</div><div class="set_fankui set_fankuiw" style="height:20px;"><textarea style="height: 25px;margin-top: -10px;" cols="50" rows="10" name="textarea1" id="textarea1" placeholder="姓名" onkeydown="textdown(event)" onkeyup="textup()" onfocus="if(value=='姓名'){value=''}" onblur="if (value ==''){value='姓名'}"></textarea></div>
							<span class="blank10"></span>
							<div style="position: absolute;margin-top: 10px;margin-left: 210px;color: white;">联系方式：</div><div class="set_fankui set_fankuiw" style="height:20px;"><textarea style="height: 25px;margin-top: -10px;" cols="50" rows="10" name="textarea2" id="textarea2" placeholder="联系方式" onkeydown="textdown(event)" onkeyup="textup()" onfocus="if(value=='联系方式'){value=''}" onblur="if (value ==''){value='联系方式'}"></textarea></div>
							<span class="blank10"></span>
							<span class="blank10"></span>
							<div style="position: absolute;margin-top: 10px;margin-left: 210px;color: white;">问题描述：</div><div class="set_fankui set_fankuiw" style="height:140px;"><textarea style="height: 125px;margin-top: -10px;" cols="50" rows="10" name="textarea2" id="textarea2" placeholder="联系方式" onkeydown="textdown(event)" onkeyup="textup()" onfocus="if(value=='联系方式'){value=''}" onblur="if (value ==''){value='联系方式'}"></textarea></div>
							<span class="blank10"></span>

           

              
 <div class="set_w_w" id="marginb">
 	<!-- <a href="set_feedback_sub.html">  -->
 	<a href="javascript:;">
 		<div class="baocun_btn fleft">提交</div>
 	</a>  
 		<a href="help.html"><div class="baocun_btn fright">取消</div></a></div>                    
                     	
                       </div>
							

                       <div class="fright"><div class="leftyd"><img src="assets/images/banjileft1_1.png"  ></div></div>
                     </div>
                     <span class="clearfix"></span>
                   <div class="leftydb"></div>
                     <div ><span class="fleft jiaocorlor_2"></span><span class="fright jiaocorlor_3"></span></div>
                     
                     
                  </div>
                  
                  
                  
                 <div class="panel" id="jianbian">
                    <div><span class="fleft jiaocorlor"></span><span class="fright jiaocorlor_1"></span></div>
                    <div class="leftydb1"></div>
                      <span class="clearfix"></span>
                    <div id="jianbianwhite"> </div>
                  </div> 
                  
              
              </div> 
              </div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright"></p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	  <script type="text/javascript" src="iscroll.js"></script>
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script>
  <script src="js/tankuang1.js"></script>
  <script type="text/javascript">
      function tiwen(){
        $.MsgBox.Alert("提问", "你想问什么？");
      }
        
  </script>

	<script type="text/javascript">
		 window.onscroll=function(){
        var marginBot = 0;
        if (document.documentElement.scrollTop){
            var X=document.documentElement.scrollHeight;
            var Y=document.documentElement.scrollTop+document.body.scrollTop;
            var Z=document.documentElement.clientHeight;
            marginBot=X-Y-Z;
        } else {
            var J=document.body.scrollHeight;
            var I=document.body.scrollTop;
            var K=document.body.clientHeight;
            marginBot=J-I-K;
        }
        if(marginBot<=0) {
          pullOnLoad();
            // alert("到底了");
        }
        // console.log(a)      
         // pullOnLoad();
    } 

    //上拉加载函数,ajax
    var num = 0;
    var page = 4; //每次加载4条

      function pullOnLoad() {
        setTimeout(function () {
            $.ajax({
                url: "http://140.143.243.113:8190/teacher/help/apprlist",
                type: "get",
                data:{p:1,row:20,userId:1},
                dataType: 'json',
                success: function (result) {
                    console.log(result)
                    // var data =result.data;
                    var data =[
		                {id: 1, title: '帮助标题1', answer: '帮助答案'},
		                {id: 2, title: '帮助标题2', answer: '帮助答案'},
		                {id: 3, title: '帮助标题3', answer: '帮助答案'},
		                {id: 4, title: '帮助标题4', answer: '帮助答案'},
		                {id: 5, title: '帮助标题5', answer: '帮助答案'},
		                {id: 6, title: '帮助标题6', answer: '帮助答案'},	
		            ];
                    var data_length = data.length;//数据的总长度
                    var remainder = data_length % page;//余数
                    if ( data_length >= (num+page)){
                        for (var j = num; j < num + page; j++){
                            var id = data[j].id;
                            var title = data[j].title;
                            var answer = data[j].answer;
                            var showlight ='showlight'+id;
                            $("#help").append('<div class="helprr" onmouseover="showDel('+id+');"  onmouseout="hideDel('+id+');"><button class="btn btn-primary"  id="'+showlight+'" type="button" data-toggle="collapse" data-target="#collapseExample'+id+'" aria-expanded="false" aria-controls="collapseExample">'+id+'</button><div class="helprrr" data-toggle="collapse" data-target="#collapseExample'+id+'" aria-expanded="false" aria-controls="collapseExample" style="text-align:left">'+title+'</div></div><div class="collapse" id="collapseExample'+id+'"><div class="well">'+answer+'</div></div><br/>');
   
                        
	    					   

                        }
                        num+=page;
                    }else if (remainder != 0 && data_length-num == remainder){
                        for (var j = num; j < num + remainder; j++){
                           	var id = data[j].id;
                            var title = data[j].title;
                            var answer = data[j].answer;
                            var showlight = 'showlight'+id;
                            $("#help").append('<div class="helprr" onmouseover="showDel('+id+');"  onmouseout="hideDel('+id+');"><button class="btn btn-primary"  id="'+showlight+'" type="button" data-toggle="collapse" data-target="#collapseExample'+id+'" aria-expanded="false" aria-controls="collapseExample">'+id+'</button><div class="helprrr" data-toggle="collapse" data-target="#collapseExample'+id+'" aria-expanded="false" aria-controls="collapseExample" style="text-align:left">'+title+'</div></div><div class="collapse" id="collapseExample'+id+'"><div class="well">'+answer+'</div></div><br/>');
 
                        }
                        num+=page;
                    }else{
                        $('.pull-loading').html("没有了哟");
                    }
                    myscroll.refresh();
                },
                error: function () {
                    console.log("出错了");
                }
            });
            myscroll.refresh();
        }, 500);
    }

    function showDel(sid){
    	var idname='#showlight'+sid;
    	$(idname).css("background-color","#a166b5");
    }

    function hideDel(sid){
    	var idname='#showlight'+sid;
    	$(idname).css("background-color","#1b2b44");
    }

      function find_help(){
        var helpname = $('#helpname').val();
        $.ajax({
              url: "http://140.143.243.113:8190/teacher/help/search",
              type: "get",
              data:{keyword:helpname},
              dataType: 'json',
              success: function (result) {
                console.log(data)
                // var data =result.data;
                var data ={id: 2, title: '帮助标题2', answer: '帮助答案2'};
                var id = data.id;
                var title = data.title;
                var answer = data.answer;
                var showlight = 'showlight'+id;
                helplist ='<div class="helprr" onmouseover="showDel('+id+');"  onmouseout="hideDel('+id+');"><button class="btn btn-primary" type="button" id="'+showlight+'" data-toggle="collapse" data-target="#collapseExample'+id+'" aria-expanded="false" aria-controls="collapseExample">'+id+'</button><div class="helprrr" data-toggle="collapse" data-target="#collapseExample'+id+'" aria-expanded="false" aria-controls="collapseExample" style="text-align:left">'+title+'</div></div><div class="collapse" id="collapseExample'+id+'"><div class="well">'+answer+'</div></div><br/>';
                document.getElementById("help").innerHTML = helplist;
                
              },
              error: function () {
                  console.log("出错了");
              }
          }); 
      }
	</script>

</body>

</html>
