<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
<title>国外社交平台</title>

<link  rel="stylesheet" href="css/css.css">
<script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body  class="bg">
  <div ><a href="/main.html"> <div style="background: url(../images/titlebg.png) center no-repeat;height: 42px;border-radius: 42px;width: 125px;float: left;
    margin-left: 15px;z-index: 10000;position: absolute;color: #FFF;text-align: center;line-height: 42px;padding: 0 32px;margin: 50px 0 0 20px;"><span class="left"><i class="lnr lnr-chevron-left"></i></span>返回</div></a></div>
<div class="loginw">
  <div class="loginjz"> <div class="login_l"><span class="title" style="margin-left: 60px;"><img src="/images/jianjilogo_pic.png"></span><img src="images/login_l_pic1.png" width="671" height="495"></div></div>
 
   <div class="loginjz1">
       <div class="login_r">
         <div class="login_r_tbg">
            <div align="center" class="title">用户登录</div>
            <div class="logingg"><input name="username" id="username" placeholder="用户名" type="text" class="logingginput" style="color:#fff; outline:none;"></div>
            <div class="logingg"><input name="password" id="password" placeholder="密码" type="text" class="logingginput" style="color:#fff; outline:none;"></div>     
                  
             <div class="xingbie font14" >       
             <a href="reg.html" class="colorwirth"><span class="left">注册 </span></a> 
             <a href="forget.html" class="colorwirth"><span class="right">忘记密码？</span></a> 
             </div>
             
             <span class="blank10"></span>
                 <a href="javascript:;" onclick="login();">
                  <div class="font18 login_subbtn"> <input type='button' value="登录"  style="height: 45px;width:100%;background: #1ed8f8;font-size: 18px;border:0px"/></div>
                </a> 
         </div>
         <div class="login_r_bbg"></div>
       </div>
    </div>
 </div>
<script src="js/systemdata.js"></script>
<script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.js"></script>     
<script>        
  function login(){
    var username = document.getElementById("username").value; 
    var password = document.getElementById("password").value;
     $.ajax({
          url: apihost+"/ssm/company/login",
          type: requesttype,
          data:{type:2,loginName:username,password:password},
          dataType: 'json',
          success: function (data) {
             if(data.code == 1){
                 alert(data.msg);
//                COOKIE.set("JSESSIONID",data.data.token);
//                sessionStorage.setItem('token',data.data.token);
                location.href="/ssm/views/hr/index.html";
            }else{
                 alert(data.msg);
                console.log('登录失败')
                location.href="/ssm/views/hr/login.html";
            }
          },
          error: function () {
              console.log("出错了");
          }
      });
  } 
</script>

</body>
</html>
