<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
<title>国外社交平台</title>

<link  rel="stylesheet" href="css/css.css">
<link rel="stylesheet" href="css/main.css" />
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>

</head>
<body  class="bg">
  <div ><a href="login.html"> <div style="background: url(../images/titlebg.png) center no-repeat;height: 42px;border-radius: 42px;width: 125px;float: left;
    margin-left: 15px;z-index: 10000;position: absolute;color: #FFF;text-align: center;line-height: 42px;padding: 0 32px;margin: 50px 0 0 20px;"><span class="left"><i class="lnr lnr-chevron-left"></i></span>返回</div></a></div>
<div class="loginw">
 <div class="loginjz"> <div class="login_l"><span class="title">见济人力资源端</span><img src="images/login_l_pic1.png" width="671" height="495"></div></div>
 
 <div class="loginjz100">
 <div class="login_r">
   <div class="login_r_tbg" style="margin-top: 150px;margin-left: 150px;">
      <div align="center" class="title">用户注册</div>
      <!-- <div class="logingg"><input name="username" placeholder="公司名称" type="text" class="logingginput" style="color:#fff; outline:none;" onfocus="this.value=''"></div>
      <div class="logingg"><input name="weburl" placeholder="网址" type="text" class="logingginput" style="color:#fff; outline:none;" onfocus="this.value=''"></div>
      <div class="logingg"><input name="nation" placeholder="国家" type="text" class="logingginput" style="color:#fff; outline:none;" onfocus="this.value=''"></div>
      <div class="logingg"><input name="city" placeholder="城市" type="text" class="logingginput" style="color:#fff; outline:none;" onfocus="this.value=''"></div>
      <div class="logingg"><input name="province" placeholder="省份" type="text" class="logingginput" style="color:#fff; outline:none;" onfocus="this.value=''"></div>
      <div class="logingg"><input name="address" placeholder="地址" type="text" class="logingginput" style="color:#fff; outline:none;" onfocus="this.value=''"></div>
      <div class="logingg"><input name="nickname" placeholder="HR 经理姓名" type="text" class="logingginput" style="color:#fff; outline:none;" onfocus="this.value=''"></div>
      <div class="logingg"><input name="code" placeholder="验证码" type="text" class="logingginput" style="color:#fff; outline:none;" onfocus="this.value=''"><span class="right loginsubbtn">发送</span></div>
      <div class="logingg"><input name="password" placeholder="登录密码" type="text" class="logingginput" style="color:#fff; outline:none;" onfocus="this.value=''"></div>
      <div class="logingg"><input name="reg_code" placeholder="注册优惠码" type="text" class="logingginput" style="color:#fff; outline:none;" onfocus="this.value=''"></div> -->
      <div class="logingg"><input id="username" name="username" placeholder="公司名称" type="text" class="logingginput" style="color:#fff; outline:none;"></div>
       <div class="logingg"><input id="weburl" name="weburl" placeholder="网址" type="text" class="logingginput" style="color:#fff; outline:none;"></div>      
      <div class="logingg"><input id="nation" name="nation" placeholder="国家" type="text" class="logingginput" style="color:#fff; outline:none;" ></div> 
        <div class="logingg"><input id="city" name="city" placeholder="城市" type="text" class="logingginput" style="color:#fff; outline:none;" ></div> 
        <div class="logingg"><input id="province" name="province" placeholder="省份" type="text" class="logingginput" style="color:#fff; outline:none;" ></div>
        <div class="logingg"><input id="address" name="address" placeholder="地址" type="text" class="logingginput" style="color:#fff; outline:none;" ></div>
        <div class="logingg"><input id="nickname" name="nickname" placeholder="HR 经理姓名" type="text" class="logingginput" style="color:#fff; outline:none;"></div>
      <div class="logingg"><input id="phone" name="phone" placeholder="电话" type="text" class="logingginput" style="color:#fff; outline:none;"></div>     
      <div class="logingg"><input id="code1" name="code1" placeholder="验证码" type="text" class="logingginput1 left" style="color:#fff; outline:none;"><span class="right loginsubbtn" onclick="sendCode();">发送</span></div> 
        <div class="logingg"><input id="password" name="password" placeholder="登录密码" type="text" class="logingginput" style="color:#fff; outline:none;" ></div>     
        <!-- <div class="logingg"><input name="" type="text" class="logingginput" style="color:#fff; outline:none;"value="再次输入登录密码" onfocus="this.value=''" onblur="this.value='再次输入登录密码'"></div>  -->
        <div class="logingg"><input id="reg_code" name="reg_code" placeholder="注册优惠码" type="text" class="logingginput" style="color:#fff; outline:none;"></div>           
      
      
      
       <div class="colorwirth font12" style="margin-left:65px;" >
       
<input type="checkbox" name="state" id="state" class="tongyixieyi left">通过注册表示您同意接受本公司的</input>

<button type="button" id="ClickMe" class="colorblue" style="outline:none">《服务与隐私权政策》</button>
 </div>
      <a href="javascript:;" onclick="register();"><div class="font18 login_subbtn">注册</div></a>
                
   </div>
   <div class="login_r_bbg" style="margin-left: 150px;"><a href="login.html"><p align="center" class="colorblue lineheight">已有账户？请登录</p> </a>  
     </div>

 </div>
  </div>
 
 
 </div>

<div id="goodcover"></div>
	
<div id="code">
  <div class="close1"><a href="javascript:void(0)" id="closebt"><img src="images/close.gif"></a></div>
  <div class="goodtxt">
    <h3 align="center" class="colorwirth"><strong>XX公司的服务于隐私权政策</strong></h3>
    <p align="left">XX公司的服务于隐私权政和iodsavolnilcbsli 和iuoghuidfshihgupwsai策XX公司的服务于
隐私权政和iodsavolnilcbsli 和iuoghuidfshihgupwsai策XX公司的服务于隐私权政和iodsa
volnilcbsli 和iuoghuidfshihgupwsai策</p>
    <p>XX有限公司~</p>
  </div>
  
</div>
<script src="js/systemdata.js"></script>
<script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.js"></script> 
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript">
    function register(){
    var username = $('#username').val();
    var city = $('#city').val();
    var province = $('#province').val();
    var weburl = $('#weburl').val();
    var nickname = $('#nickname').val();
    var address =$('#address').val();
    var nation = $('#nation').val();
    var phone = $('#phone').val();
    var code = $('#code1').val();
    var password = $('#password').val();
    // var repassword = $('#repassword').val();
    var reg_code = $('#reg_code').val();
    var state = $('#state').val();
     $.ajax({
          url: apihost+"/ssm/company/regs",
          type: requesttype,
          data:{companyName:username,url:weburl,countryName:nation,cityName:city,provinceName:province,
              address:address,loginName:nickname,mobile:phone,password:password,code1:code,couponCode:reg_code,type:2},
          dataType: 'json',
          success: function (data) {
            console.log(data)
            if(data.code == 1){
                alert(data.msg);
                location.href=apihost + "/ssm/views/hr/login.html";
            }else{
                alert(data.msg);
                location.href="/hr/reg.html";
            }
          },
          error: function () {
              console.log("出错了");
          }
      });
  } 

    function sendCode(){
      var phone = $("#phone").val();
      $.ajax({
          url: apihost+"/ssm/company/sms",
          type: requesttype,
          data:{phoneNumbers:phone,code:'86'},
          dataType: 'json',
          success: function (data) {
            console.log(data)
            if(data.code == 1){
                 alert(data.msg);
            }else{
                // alert(data.msg);
                location.href="/hr/reg.html";
            }
          },
          error: function () {
              console.log("出错了");
          }
      });
  }

</script>

<script>
$(function() {
    //alert($(window).height());
    $('#ClickMe').click(function() {
        $('#code').center();
        $('#goodcover').show();
        $('#code').fadeIn();
    });
    $('#closebt').click(function() {
        $('#code').hide();
        $('#goodcover').hide();
    });
	$('#goodcover').click(function() {
        $('#code').hide();
        $('#goodcover').hide();
    });
    /*var val=$(window).height();
	var codeheight=$("#code").height();
    var topheight=(val-codeheight)/2;
	$('#code').css('top',topheight);*/
    jQuery.fn.center = function(loaded) {
        var obj = this;
        body_width = parseInt($(window).width());
        body_height = parseInt($(window).height());
        block_width = parseInt(obj.width());
        block_height = parseInt(obj.height());

        left_position = parseInt((body_width / 2) - (block_width / 2) + $(window).scrollLeft());
        if (body_width < block_width) {
            left_position = 0 + $(window).scrollLeft();
        };

        top_position = parseInt((body_height / 2) - (block_height / 2) + $(window).scrollTop());
        if (body_height < block_height) {
            top_position = 0 + $(window).scrollTop();
        };

        if (!loaded) {

            obj.css({
                'position': 'absolute'
            });
            obj.css({
                'top': ($(window).height() - $('#code').height()) * 0.5,
                'left': left_position
            });
            $(window).bind('resize', function() {
                obj.center(!loaded);
            });
            $(window).bind('scroll', function() {
                obj.center(!loaded);
            });

        } else {
            obj.stop();
            obj.css({
                'position': 'absolute'
            });
            obj.animate({
                'top': top_position
            }, 200, 'linear');
        }
    }

})
</script>
</body>
</html>
