<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>见济</title>
<link rel="stylesheet" href="css/framework7.ios.min.css">
<link rel="stylesheet" href="css/framework7.ios.colors.min.css">
<!-- Path to your custom app styles-->
<link rel="stylesheet" href="css/my-app.css">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/framework7.min.js"></script>
</head>
<body>
<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="menur" style="width:100%; position:absolute; display:none; z-index:10000; top:0px; height:auto; left:0; background:#000; height:100%;">
  <div  class="dl-menuwrapper">
    <div class="left"><img src="images/logo.png" ></div>
    <div class="right"><a href="#" class="link icon-only open-panel"> <i class="icon icon-barss"></i></a></div>
    <ul>
      <a href="index.html" class="external link active">
      <li><strong>首页</strong></li>
      </a> 
      <a href="#" class="alert-text-title">
      <li><strong>工具</strong></li>
      </a>
            <a href="contactus.html" class="external link active">
      <li><strong>联系我们</strong></li>
      </a>
            <a href="service.html" class="external link active">
      <li><strong>服务条款</strong></li>
      </a>
            <a href="privacypolicy.html" class="external link active">
      <li><strong> 隐私政策</strong></li>
      </a>
            <a href="qa.html" class="external link active">
      <li><strong> 问与答</strong></li>
      </a>
<li style="height:60px; border-bottom:none; padding-top:20px;">
<div class="row">
            <div class="col-33" align="center"> <a href="https://www.facebook.com/Givenera-366469430356578/" class="external"><img src="images/icon0701/facebook.png" width="32" height="32"></a></div>
            <div class="col-33" align="center"> <a href="https://twitter.com/givenera" class="external"><img src="images/icon0701/twitter.png" width="32" height="32"></a></div>
           <div class="col-33" align="center"> <a href="https://www.youtube.com/channel/UCcHTQjfWMqHyS9RQX1Mm6Ag" class="external"> <img src="images/icon0701/social-youtube-outline.png" width="32" height="32"></a></div>
          </div>   
          </li>
           
           </ul>
  
  </div>
</div>
<div class="views">
  <div class="view view-main"> 
    
    <div class="pages navbar-through toolbar-through ">
      <div data-page="index" class="page">
        <div class="page-content">
<!-- Top Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"> <a href="index.html" class="link  external"><img src="images/logo.png" ></a> </div>
        <div class="center sliding"></div>
        <div class="right"> <a href="#" class="link  open-panel"> <i class="icon icon-bars"></i></a> </div>
      </div>
    </div>
         
    <div class="bg5" align="center">
          <div class="content-block">
              <div class="row">
              <div class="col-100 margin25" align="center"><div class="col-33" align="center"> <img src="images/contactus_title.png" width="100%" ></div></div>
              
              <div class="joinppbgpink " id="myjdbg">
             
            <span class="blank10"></span>
            <div class="row">
              <div class="col-50 bg-white">
                <div class="joinpp_ggbd">
                  <input type="text" value="邮箱*" onfocus="if(value=='邮箱*') {value=''}" onblur="if (value=='') {value='邮箱*'}" class="corusebgzi">
                </div>
              </div>
              <div class="col-50 bg-white">
                <div class="joinpp_ggbd">
                  <input type="text" value="名字*" onfocus="if(value=='名字*') {value=''}" onblur="if (value=='') {value='名字*'}" class="corusebgzi">
                </div>
              </div>
            </div>
               <span class="blank10"></span>
              <div class="col-100 bg-white">
                <div class="joinpp_ggbd">
                  <input type="text" value="类型" onfocus="if(value=='类型') {value=''}" onblur="if (value=='') {value='类型'}" class="corusebgzi">
                </div>
              </div>
                 <span class="blank10"></span>
              <div class="col-100 bg-white">
                <div class="joinpp_ggbd">
               
                  <textarea class="corusebgzizi" value="留言" onfocus="if(value=='留言') {value=''}" onblur="if (value=='') {value='留言'}">留言</textarea>
                
                </div>
              </div>
              
             
            </div>
            
            
            
            
            <span class="blank10"></span>
            <div class="joinpp_btn" id="bg1">提交</div>
          </div>
              
            </div>
            
 <span class="blank10"></span>       
  <div class="content-block"><p class=" zi12 line35 color-white" align="center">    Copyright 2018 Givenera llc. All Rights Reserved </p> </div>           
            </div>
          </div>           
          
          
          <!-- foot-->
       
          <!-- foot--> 
          
        </div>
        <div class="toolbar tabbar tabbar-labels" style=" display:none">
          <div class="toolbar-inner" > <a href="myst.html" class="link active external" > <span class="tabbar-label" ><img src="images/andio_btn.png" width="80%" ></span> </a> <a href="myjm.html" class="link external" > <span class="tabbar-label" ><img src="images/app_btn.png" width="80%"></span> </a> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="js/my-app.js"></script> 
<script >
	$(function(){
		$('.open-panel').click(function(){
			var $menu = $('.menur');
			if( $menu.is(":visible") ){
        // $(this).children().css("");
        $(".icon-bars").attr("class","icon icon-bars");
				$menu.hide();
			}else{
        $(".icon-bars").attr("class","icon icon-bars");
				$menu.show();
			}
		});	
	});
	</script>
</body>
</html>