<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>见济</title>
<link rel="stylesheet" href="css/framework7.ios.min.css">
<link rel="stylesheet" href="css/framework7.ios.colors.min.css">
<!-- Path to your custom app styles-->
<link rel="stylesheet" href="css/my-app.css">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/framework7.min.js"></script>
</head>
<body>
<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="menur" style="width:100%; position:absolute; display:none; z-index:10000; top:0px; height:auto; left:0; background:#000; height:100%;">
  <div  class="dl-menuwrapper">
    <div class="left"><img src="images/logo.png" ></div>
    <div class="right"><a href="#" class="link icon-only open-panel"> <i class="icon icon-barss"></i></a></div>
    <ul>
      <a href="index.html" class="external link active">
      <li><strong>首页</strong></li>
      </a> 
       <a href="#" class="alert-text-title">
      <li><strong>工具</strong></li>
      </a>
            <a href="contactus.html" class="external link active">
      <li><strong>联系我们</strong></li>
      </a>
      
            <a href="service.html" class="external link active">
      <li><strong>服务条款</strong></li>
      </a>
            <a href="privacypolicy.html" class="external link active">
      <li><strong> 隐私政策</strong></li>
      </a>
            <a href="qa.html" class="external link active">
      <li><strong> 问与答</strong></li>
      </a>
 <li style="height:60px; border-bottom:none; padding-top:20px;">
<div class="row">
            <div class="col-33" align="center"> <a href="https://www.facebook.com/Givenera-366469430356578/" class="external"><img src="images/icon0701/facebook.png" width="32" height="32"></a></div>
            <div class="col-33" align="center"> <a href="https://twitter.com/givenera" class="external"><img src="images/icon0701/twitter.png" width="32" height="32"></a></div>
           <div class="col-33" align="center"> <a href="https://www.youtube.com/channel/UCcHTQjfWMqHyS9RQX1Mm6Ag" class="external"> <img src="images/icon0701/social-youtube-outline.png" width="32" height="32"></a></div>
          </div>   
          </li>
    </ul>
  
  </div>
</div>
<div class="views">
  <div class="view view-main"> 
   
    <div class="pages navbar-through toolbar-through ">
      <div data-page="index" class="page">
        <div class="page-content">
         <!-- Top Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"> <a href="index.html" class="link  external"><img src="images/logo.png" ></a> </div>
        <div class="center sliding"></div>
        <div class="right"> <a href="#" class="link  open-panel"> <i class="icon icon-bars"></i></a> </div>
      </div>
    </div>
          <div class="bg6">
           
            <div class="content-block">
               <div class="title2"> <span class="left"><img src="images/services.png" width="40" height="40"></span><span class="left">隐私政策</span></div>
               <span class="blank10"></span>
              <div class="row color-white"> 
<textarea style="color:white;height: -webkit-fill-available;width: -webkit-fill-available;">
感谢您选择加入Givenera社区（“公司”，“我们”，“我们”或“我们的”）。我们致力于保护您的个人信息和隐私权。如果您对我们的政策或我们有关您个人信息的做法有任何问题或疑虑，请通过givenera2014@gmail.com与我们联系。
当您访问我们的网站http://www.givenera.com，移动应用程序并使用我们的服务时，您信任地填写了您的个人信息。对此我们将最大程度的重视您的隐私。在本隐私声明中，我们阐述了我们的隐私政策。我们会尽可能以最清晰的方式向您解释我们收集的信息，我们如何使用这些信息以及您拥有哪些相关的权利。我们希望您花一些时间仔细阅读，因为它很重要。如果您不同意本隐私政策中的任何条款，请停止使用我们的网站或应用程序以及我们的服务。
本隐私政策适用于通过我们的网站（如http://www.givenera.com），移动应用程序（“应用程序”）和/或任何相关服务，销售，营销或活动收集的所有信息（我们在本隐私政策中将它们统称为“网站”）。
请仔细阅读本隐私政策，因为它将帮助您做出有关是否向我们分享您的个人信息的明智决定。

1. 我们收集哪些信息？

1.1您向我们披露的个人信息

我们在以下情况收集您自愿提供给我们的个人信息：您在网站或应用程序注册时；您表示有兴趣参与网站或应用程序的活动时；您想获取有关我们或我们的产品和服务的信息（例如在我们的在线论坛上发布消息或参加比赛，比赛或赠品）或以其他方式联系我们时。
我们收集的个人信息取决于您与我们网站或应用程序的交互环境，您所做的选择以及您使用的产品和功能。我们收集的个人信息可包括以下内容：
个人信息：我们会收集您的姓名，电子邮件地址，居住地址，电话号码和其他类似的联系方式。我们还会收集您的工作头衔，部门信息以及与您的工作或组织相关的其他信息。
安全信息：我们会收集用于身份验证和帐户访问的密码，密码提示和类似的安全信息。
付款信息。如果您进行购买，我们会收集处理您付款所需的数据，例如您的信用卡号，支付宝账号，微信钱包信息以及与您的付款方式相关的安全代码。所有付款数据均由我们的付款处理商存储，您应查看其隐私政策并直接与付款处理商联系以回答您相关的问题。
社交媒体登录数据：我们为您提供使用第三方社交媒体帐户进行注册的选项，例如您的微信，QQ或其他社交媒体帐户。如果您选择以这种方式注册，我们将收集以下“我们如何处理您的社交登录”一节中描述的信息。
您提供给我们的所有个人信息必须真实，完整和准确，您必须通知我们此类个人信息的任何变更。

1.2自动搜集的信息

当您访问，使用或浏览我们网站或应用时，我们会自动收集某些信息。此信息不会透露您的特定身份（例如您的姓名或联系信息），但可能包括设备和使用信息，例如您的IP地址，浏览器和设备特征，操作系统，语言首选项，引用URL，设备名称，国家/地区，位置，有关您使用我们的网站或应用程序的方式和时间以及其他技术信息的信息。此信息主要用于维护我们的站点或应用程序的安全性和操作，以及用于内部分析和报告目的。与许多企业一样，我们也通过cookie和类似技术收集信息。
1.3通过我们的应用收集信息
概述：我们可能会在您使用我们的应用程序时收集有关您的地理位置，移动设备和推送通知的信息。
如果您使用我们的应用程序，我们还可能收集以下信息：
·         地理位置信息。我们可能会持续的或在您使用我们的移动应用程序时请求访问您移动设备的位置信息，以提供基于位置的相关服务。如果您希望更改我们的访问权限，可以在设备的设置中进行更改。
·         您提供的信息和内容。您在使用本服务时提供的内容，通信和其他信息，包括您注册帐户，创建或共享内容，以及向他人发送的信息。还可以包括您提供的内容中的信息（例如元数据），照片的位置或文件的创建日期。
·         其他人做的事情和他们提供的有关您的信息。我们还接收和分析其他人在使用服务时提供的内容，通信和其他信息。这可能包括有关您的信息，例如他们分享或评论您的照片，向您发送消息，或上传，同步或导入您的联系信息;
·         移动设备访问。我们可能会要求您对移动设备的某些功能进行访问或许可，包括移动设备的相机，联系人，麦克风，社交媒体帐户，存储空间，短信和其他功能。如果您希望更改我们的访问权限，可以在设备的设置中进行更改。
·         移动设备数据。我们可能会自动收集设备信息（例如您的移动设备ID，型号和制造商），操作系统，版本信息和IP地址。
·         推送通知。我们可能会向您发送有关您的帐户或移动应用程序的推送通知。如果您希望选择不接收这些类型的通信，可以在设备的设置中将其关闭。

1.4从第三方收集的信息

概述：我们可能从第三方收集有限的数据，这些第三方可能是公共数据库，营销合作伙伴，社交媒体平台和其他外部来源。
·         第三方服务。如果您使用第三方服务（例如WeChat，QQ）连接或登录您的应用帐户，第三方服务可能会向我们发送您的注册和个人资料信息，包括您的姓名，电子邮件，性别，生日，当前城市和个人资料图片网址，以及您选择通过该服务公开的其他信息。此信息会有所不同，并由该服务控制，或由您通过该服务的隐私设置授权。我们还可能会请求访问与您的帐户相关的其他权限，例如朋友，签到和喜欢，您可以选择授予或拒绝我们访问每个服务单独的权限。
·         其他来源。我们可能会从其他来源获取有关您的信息，例如公共数据库，联合营销合作伙伴，社交媒体平台（如脸书，微博）以及其他第三方。我们从其他来源收到的信息示例包括：社交媒体资料信息（您的姓名，性别，生日，电子邮件，当前城市和国家/地区，您的联系人的用户识别码，个人资料图片网址以及您选择的任何其他公共信息。

2.我们如何使用您的信息？

我们严格遵守法律法规的规定及与用户的约定，将收集的信息用于以下用途。若我们超出以下用途使用您的信息，我们将再次向您进行说明，并征得您的同意。
我们使用通过我们的网站或应用程序收集的个人信息用于下面描述的各种业务目的。出于这些目的，我们依赖我们的合法商业利益（“商业目的”）处理您的个人信息，以便与您签订或履行合同
（“合同”），征得您的同意（“同意”），和/或遵守我们的法律义务（“法律理由”）。我们在下面列出的每个目的旁边指出了我们所依据的具体处理原因。
我们把收集或收到的个人信息用来提供以下服务：
·         在您的同意下帮助和支持帐户创建和登录过程。如果您选择将我们的帐户关联到第三方帐户（例如您的微信或QQ帐户），我们会在您允许下使用我们从这些第三方平台收集获得的信息来支持帐户创建和登录过程。有关详细信息，请参阅下文“我们如何处理您的社交登录”部分。
·         在合理商业目的或者您同意的前提下，向您发送营销和促销信息。我们和我们的第三方营销合作伙伴可能会将您发送给我们的个人信息用于我们的营销活动。如果这些营销活动不符合您的偏好，您可以随时选择退出我们的营销电子邮件。
·         根据业务目的，法律原因和/或可能的合同向您发送管理信息。我们可能会使用您的个人信息向您发送产品，服务和新功能信息和/或有关我们的条款，条件和政策变更的信息。
·         发布推荐书。我们在可能包含个人信息的网站或应用程序上发布推荐信。如果您想更新或删除您的推荐，请通过givenera2014@gmail.com与我们联系，并确保邮件中包括您的姓名，推荐位置和联系信息。
·         为我们的业务目的或者在您的同意下为您提供有针对性的广告。我们可能会使用您的信息根据您的兴趣和/或位置来开发和展示为您量身定制的内容和广告（以及与此相关的第三方合作）并衡量其有效性。
·         我们可能会用您的信息向您请求用户反馈，并就您使用我们的网站或应用程序的意见与您联系。
·         保护我们的网站以实现商业目的和法律需要。我们可能会将您的信息用作我们保护网站或应用安全的一部分（例如，用于欺诈监控和预防）。
·         在您的同意下实现用户与用户的通信。我们可能会使用您的信息，以便在每个用户的同意下实现用户与用户之间的通信。
·         执行我们的商业目的，法律原因和可能的合同条款，条件和政策。
·         回应法律要求并防止法律原因受到损害。如果我们收到传票或其他法律请求，我们可能需要检查我们持有的数据以确定如何回应。
·         其他商业目的。我们可能会将您的信息用于其他商业目的，例如数据分析，识别使用趋势，确定促销活动的有效性以及评估和改进我们的网站或应用，产品，服务，营销和您的体验，或开发新工具，新产品和新服务。
3.您的信息是否会与任何人分享？
我们遵照法律法规的规定，对信息的分享进行严格的限制。我们仅会在征得您同意，遵守所有保护您权利的法律条规，并且履行所有业务义务的情况下共享您的信息。例如：
·         经您事先同意，我们可能与第三方分享您的个人信息；
·         仅为实现外部处理的目的，我们可能会与第三方合作伙伴（第三方服务供应商、承包商、代理、广告合作伙伴、应用开发者等，例如，代表我们发出电子邮件或推送通知的通讯服务提供商、为我们提供位置服务的地图服务供应商）（他们可能并非位于您所在的法域）分享您的个人信息，让他们按照我们的说明、隐私政策以及其他相关的保密和安全措施来为我们处理上述信息。示例包括：支付处理，数据分析，电子邮件递送，托管服务，客户服务和营销工作。我们可能允许选定的第三方在网站或应用上使用跟踪技术，这将使他们能够收集有关您如何随时间与网站或应用互动的数据。除其他外，该信息可用于分析和跟踪数据，确定某些内容的流行度并更好地理解在线活动。除非本政策中有所描述，否则我们不会出于促销目的与第三方共享，出售，出租或交易您的任何信息。如我们与上述第三方分享您的信息，我们将会采用加密、匿名化处理等手段保障您的信息安全。
·         随着我们业务的持续发展，当发生合并、收购、资产转让等交易导致向第三方分享您的个人信息时，我们将通过推送通知、公告等形式告知您相关情形，按照法律法规及不低于本政策所要求的标准继续保护或要求新的管理者继续保护您的个人信息。
·         我们会将所收集到的信息用于大数据分析。例如，我们将收集到的信息用于分析形成不包含任何个人信息的地域使用报告。我们可能对外公开并与我们的合作伙伴分享经统计加工后不含身份识别内容的信息，用于了解用户如何使用我们服务或让公众了解我们服务的总体使用趋势。
·         第三方广告商。当您访问网站或应用时，我们可能会使用第三方广告公司来投放广告。这些公司可能会使用有关您访问我们的网站以及网络cookie和其他跟踪技术中包含的信息，以便提供您感兴趣的商品和服务的广告。
·         分支机构。我们可能会与我们的关联公司分享您的信息，在这种情况下，我们将要求这些关联公司遵守本隐私政策。关联公司包括我们的母公司以及我们控制或与我们共同控制的任何子公司，合资伙伴或其他公司。
·         业务合作伙伴。我们可能会与业务合作伙伴共享您的信息，以便为您提供某些产品，服务或促销活动。
·         其他用户。当您共享个人信息（例如，通过向网站或应用程序发布评论，贡献或其他内容）或以其他方式与网站或应用程序的公共区域进行交互时，所有用户都可以查看此类个人信息。如果您与我们的网站或应用程序的其他用户进行互动并通过社交网络（例如Facebook）进行注册，则社交网络上的联系人将会看到您的姓名，个人资料照片以及您的活动说明。同样，其他用户也可以查看您的活动说明，在我们的网站或应用中与您沟通，以及查看您的个人资料。
·         我们可能基于以下目的披露您的个人信息：
        i.     遵守适用的法律法规等有关规定；
        ii.     遵守法院判决、裁定或其他法律程序的规定；
        iii.     遵守相关政府机关或其他法定授权组织的要求；
        iv.     我们有理由确信需要遵守法律法规等有关规定；
        v.     为执行相关服务协议或本政策、维护社会公共利益，为保护我们的客户、我们或我们的关联公司、其他用户或雇员的人身财产安全或其他合法权益合理且必要的用途。

4.我们是否使用COOKIES和其他跟踪技术？

我们或我们的第三方合作伙伴，可能通过放置安全的Cookie及相关技术收集您的信息，目的是为您提供更个性化的用户体验和服务。我们会严格要求第三方合作伙伴遵守本政策的相关规定。
您也可以通过浏览器设置管理Cookie。但请注意，如果停用Cookie，您可能无法享受最佳的服务体验，某些服务也可能无法正常使用。

5.我们如何处理您的社交登录？  

概述：如果您选择使用社交媒体帐户注册或登录我们的网站，我们可能会访问您的某些信息。
您能够使用您的第三方社交媒体帐户（如您的微信或QQ登录）在我们的网站或应用程序进行注册和登录。如果您选择这样做，我们将从您的社交媒体提供商处获得有关您的某些个人资料信息。我们收到的个人资料信息可能因相关社交媒体提供商而异，但通常包括您的姓名，电子邮件地址，朋友列表，个人资料图片以及您选择公开的其他信息。
我们仅将我们收到的信息用于本隐私政策中描述的目的，或者在网站或应用程序中向您明确说明的目的。请注意，我们不控制您的第三方社交媒体提供商对您的个人信息的其他使用，也不对其负责。我们建议您查看其隐私政策，以了解他们如何收集，使用和共享您的个人信息，以及如何在其网站和应用上设置隐私首选项。

6.我们对第三方网站上的责任是什么？

概述：我们不对您与第三方提供商分享的任何信息的安全性负责，因为第三方提供商与我们的网站无任何利益关系。
网站或应用程序可能包含来自第三方的广告，这些广告与我们无关，并且可能链接到其他网站，在线服务或移动应用程序。我们无法保证您向任何第三方提供的数据的安全性和隐私性。本隐私政策不涵盖第三方收集的任何数据。我们不对任何第三方的内容或隐私和安全做法和政策负责，包括可能链接到站点或应用程序或从站点或应用程序链接的其他网站，服务或应用程序。您应该查看此类第三方的政策，并直接与他们联系以回答您的问题。

7.我们如何保留您的信息？

概述：除非法律另有要求，否则我们仅会在必要时保留您的信息，以实现本隐私政策中列出的目的。
除非法律要求或允许更长的保留期限（例如税务，会计或其他法律要求），否则我们只会在本隐私政策中规定的目的下保留您的个人信息。本政策中的任何目的都不会要求我们在用户终止帐户1年后仍保留您的个人信息。
如果我们没有正在进行的合法业务需要处理您的个人信息，我们将删除您的相关信息。如果删除无法实现（例如，因为您的个人信息已存储在数据库备份档案中），那么我们将安全存储您的个人信息，并将其隔离，直至删除为止。
有一些例外情况，即使您决定删除帐户，我们仍会保留您的数据：
·         我们持有的个人数据是行使言论自由权所必需的;
·         有法律义务要求我们保留信息;
·         出于公共利益的原因（例如公共卫生，科学，统计或历史研究目的）。
·         我们认为有必要对违反我们政策的行为进行调查，预防或采取措施

8.我们如何保护您的信息安全？

我们为您的信息提供相应的安全保障，以防止信息的丢失、不当使用、未经授权访问或披露。

8.1我们严格遵守法律法规保护用户的通信秘密。

8.2我们将在合理的安全水平内使用各种安全保护措施以保障信息的安全。例如，我们使用加密技术（例如，TLS、SSL）、匿名化处理等手段来保护您的个人信息。

8.3我们建立专门的管理制度、流程和组织确保信息安全。例如，我们严格限制访问信息的人员范围，要求他们遵守保密义务，并进行审查。

8.4若发生个人信息泄露等安全事件，我们会启动应急预案，阻止安全事件扩大，并以推送通知、公告等形式告知您。

我们已实施适当的技术和组织安全措施，旨在保护我们处理的任何个人信息的安全。但是，请记住，我们无法保证互联网本身是100％安全的。虽然我们会尽最大努力保护您的个人信息，但是从我们的网站或应用程序传输个人信息的风险由您自行承担。您应该只在安全的环境中访问服务。

9. 未成年人保护

我们非常重视对未成年人个人信息的保护。根据相关法律法规的规定，若您是18周岁以下的未成年人，在使用Givenera的服务前，应事先取得您的家长或法定监护人的同意。若您是未成年人的监护人，当您对您所监护的未成年人的个人信息有相关疑问时，请通过下面的联系方式与我们联系。

10.帐户信息

如果您希望查看或更改帐户中的信息或终止帐户，您可以：
■登录您的帐户设置并更新您的用户帐户。
根据您的终止帐户的请求，我们将停用或删除您的帐户以及我们数据库中相应的信息。但是，我们的文件中可能会保留一些信息，以防止欺诈，排除问题，协助调查，执行我们的使用条款和/或遵守法律要求。
Cookie和类似技术：默认情况下，大多数Web浏览器都设置为接受Cookie。如果您愿意，通常可以选择将浏览器设置为删除cookie并拒绝cookie。如果您选择删除Cookie或拒绝Cookie，则可能会影响我们网站或应用的某些功能或服务。
选择退出电子邮件营销：您可以随时点击我们发送的电子邮件中的取消订阅链接或使用下面提供的详细信息与我们联系，取消订阅我们的营销电子邮件列表。之后，您将从营销电子邮件列表中删除 - 但是，我们仍然需要向您发送管理和使用您的帐户所需的服务相关电子邮件。如果选择退出，您可以：
■访问您的帐户设置和更新首选项。
■在网站上注册帐户时，请注意您的首选项。

11.我们是否对此政策进行了更新？

概述：是的，我们会在必要时更新此政策，以遵守相关法律。
我们可能会不时更新本隐私政策。更新版本将由更新的“修订”日期指示，更新后的版本将在可访问时生效。如果我们对本隐私政策进行重大更改，我们可能会通过直接向您发送通知来通知您。我们建议您经常查看本隐私政策，以了解我们如何保护您的信息。

12.您如何与我们联系以了解此政策？

如果您对本政策有任何疑问或意见，可以发送电子邮件至givenera2014@gmail.com联系我们的数据保护官（DPO）Michael Chen。
</textarea>              
                
<!-- <p>感谢您选择加入Givenera社区（“公司”，“我们”，“我们”或“我们的”）。我们致力于保护您的个人信息和隐私权。如果您对我们的政策或我们有关您个人信息的做法有任何问题或疑虑，请通过givenera2014@gmail.com与我们联系。</p><br/>
<p>当您访问我们的网站http://www.givenera.com，移动应用程序并使用我们的服务时，您信任地填写了您的个人信息。对此我们将最大程度的重视您的隐私。在本隐私声明中，我们阐述了我们的隐私政策。我们会尽可能以最清晰的方式向您解释我们收集的信息，我们如何使用这些信息以及您拥有哪些相关的权利。我们希望您花一些时间仔细阅读，因为它很重要。如果您不同意本隐私政策中的任何条款，请停止使用我们的网站或应用程序以及我们的服务。</p><br/>
<p>本隐私政策适用于通过我们的网站（如http://www.givenera.com），移动应用程序（“应用程序”）和/或任何相关服务，销售，营销或活动收集的所有信息（我们在本隐私政策中将它们统称为“网站”）。</p><br/>
<p>请仔细阅读本隐私政策，因为它将帮助您做出有关是否向我们分享您的个人信息的明智决定。</p><br/>
    
  <h4 >1. 我们收集哪些信息？</h4><br/>

  <p>1.1您向我们披露的个人信息</p><br/>
  <p>我们在以下情况收集您自愿提供给我们的个人信息：您在网站或应用程序注册时；您表示有兴趣参与网站或应用程序的活动时；您想获取有关我们或我们的产品和服务的信息（例如在我们的在线论坛上发布消息或参加比赛，比赛或赠品）或以其他方式联系我们时。</p><br/>
  <p>我们收集的个人信息取决于您与我们网站或应用程序的交互环境，您所做的选择以及您使用的产品和功能。我们收集的个人信息可包括以下内容：</p><br/>
  <p>个人信息：我们会收集您的姓名，电子邮件地址，居住地址，电话号码和其他类似的联系方式。我们还会收集您的工作头衔，部门信息以及与您的工作或组织相关的其他信息。</p><br/>
  <p>安全信息：我们会收集用于身份验证和帐户访问的密码，密码提示和类似的安全信息。</p><br/>
  <p>付款信息。如果您进行购买，我们会收集处理您付款所需的数据，例如您的信用卡号，支付宝账号，微信钱包信息以及与您的付款方式相关的安全代码。所有付款数据均由我们的付款处理商存储，您应查看其隐私政策并直接与付款处理商联系以回答您相关的问题。</p><br/>
  <p>社交媒体登录数据：我们为您提供使用第三方社交媒体帐户进行注册的选项，例如您的微信，QQ或其他社交媒体帐户。如果您选择以这种方式注册，我们将收集以下“我们如何处理您的社交登录”一节中描述的信息。</p><br/>
  <p>您提供给我们的所有个人信息必须真实，完整和准确，您必须通知我们此类个人信息的任何变更。 </p><br/> 
  
  <p>1.2自动搜集的信息</p><br/>
  <p>当您访问，使用或浏览我们网站或应用时，我们会自动收集某些信息。此信息不会透露您的特定身份（例如您的姓名或联系信息），但可能包括设备和使用信息，例如您的IP地址，浏览器和设备特征，操作系统，语言首选项，引用URL，设备名称，国家/地区，位置，有关您使用我们的网站或应用程序的方式和时间以及其他技术信息的信息。此信息主要用于维护我们的站点或应用程序的安全性和操作，以及用于内部分析和报告目的。与许多企业一样，我们也通过cookie和类似技术收集信息。</p><br/>
  <p>1.3通过我们的应用收集信息</p><br/>
  <p>概述：我们可能会在您使用我们的应用程序时收集有关您的地理位置，移动设备和推送通知的信息。</p><br/>
  <p>如果您使用我们的应用程序，我们还可能收集以下信息：</p><br/>
  <p>·   地理位置信息。我们可能会持续的或在您使用我们的移动应用程序时请求访问您移动设备的位置信息，以提供基于位置的相关服务。如果您希望更改我们的访问权限，可以在设备的设置中进行更改。</p><br/>
  <p>·   您提供的信息和内容。您在使用本服务时提供的内容，通信和其他信息，包括您注册帐户，创建或共享内容，以及向他人发送的信息。还可以包括您提供的内容中的信息（例如元数据），照片的位置或文件的创建日期。</p><br/>
  <p>·   其他人做的事情和他们提供的有关您的信息。我们还接收和分析其他人在使用服务时提供的内容，通信和其他信息。这可能包括有关您的信息，例如他们分享或评论您的照片，向您发送消息，或上传，同步或导入您的联系信息;</p><br/>
  <p>·   移动设备访问。我们可能会要求您对移动设备的某些功能进行访问或许可，包括移动设备的相机，联系人，麦克风，社交媒体帐户，存储空间，短信和其他功能。如果您希望更改我们的访问权限，可以在设备的设置中进行更改。</p><br/>
  <p>·   移动设备数据。我们可能会自动收集设备信息（例如您的移动设备ID，型号和制造商），操作系统，版本信息和IP地址。</p><br/>
  <p>·   推送通知。我们可能会向您发送有关您的帐户或移动应用程序的推送通知。如果您希望选择不接收这些类型的通信，可以在设备的设置中将其关闭。</p><br/>

  <p>1.4从第三方收集的信息</p><br/>
  <p>概述：我们可能从第三方收集有限的数据，这些第三方可能是公共数据库，营销合作伙伴，社交媒体平台和其他外部来源。</p><br/>
  <p>·    第三方服务。如果您使用第三方服务（例如WeChat，QQ）连接或登录您的应用帐户，第三方服务可能会向我们发送您的注册和个人资料信息，包括您的姓名，电子邮件，性别，生日，当前城市和个人资料图片网址，以及您选择通过该服务公开的其他信息。此信息会有所不同，并由该服务控制，或由您通过该服务的隐私设置授权。我们还可能会请求访问与您的帐户相关的其他权限，例如朋友，签到和喜欢，您可以选择授予或拒绝我们访问每个服务单独的权限。</p><br/>
  <p>·    其他来源。我们可能会从其他来源获取有关您的信息，例如公共数据库，联合营销合作伙伴，社交媒体平台（如脸书，微博）以及其他第三方。我们从其他来源收到的信息示例包括：社交媒体资料信息（您的姓名，性别，生日，电子邮件，当前城市和国家/地区，您的联系人的用户识别码，个人资料图片网址以及您选择的任何其他公共信息。</p><br/>

   <h4 >2.我们如何使用您的信息？</h4> <br/>

  <p>我们严格遵守法律法规的规定及与用户的约定，将收集的信息用于以下用途。若我们超出以下用途使用您的信息，我们将再次向您进行说明，并征得您的同意。
</p><br/>
  <p>我们使用通过我们的网站或应用程序收集的个人信息用于下面描述的各种业务目的。出于这些目的，我们依赖我们的合法商业利益（“商业目的”）处理您的个人信息，以便与您签订或履行合同
（“合同”），征得您的同意（“同意”），和/或遵守我们的法律义务（“法律理由”）。我们在下面列出的每个目的旁边指出了我们所依据的具体处理原因。</p><br/>
  <p>我们把收集或收到的个人信息用来提供以下服务：</p><br/>
  <p>·    在您的同意下帮助和支持帐户创建和登录过程。如果您选择将我们的帐户关联到第三方帐户（例如您的微信或QQ帐户），我们会在您允许下使用我们从这些第三方平台收集获得的信息来支持帐户创建和登录过程。有关详细信息，请参阅下文“我们如何处理您的社交登录”部分。</p><br/>
  <p>·    在合理商业目的或者您同意的前提下，向您发送营销和促销信息。我们和我们的第三方营销合作伙伴可能会将您发送给我们的个人信息用于我们的营销活动。如果这些营销活动不符合您的偏好，您可以随时选择退出我们的营销电子邮件。</p><br/>
  <p>·    根据业务目的，法律原因和/或可能的合同向您发送管理信息。我们可能会使用您的个人信息向您发送产品，服务和新功能信息和/或有关我们的条款，条件和政策变更的信息。</p><br/>
  <p>·         发布推荐书。我们在可能包含个人信息的网站或应用程序上发布推荐信。如果您想更新或删除您的推荐，请通过givenera2014@gmail.com与我们联系，并确保邮件中包括您的姓名，推荐位置和联系信息。</p><br/>
  <p>·         为我们的业务目的或者在您的同意下为您提供有针对性的广告。我们可能会使用您的信息根据您的兴趣和/或位置来开发和展示为您量身定制的内容和广告（以及与此相关的第三方合作）并衡量其有效性。</p><br/>

  <p>·         我们可能会用您的信息向您请求用户反馈，并就您使用我们的网站或应用程序的意见与您联系。</p><br/>
  <p>·         保护我们的网站以实现商业目的和法律需要。我们可能会将您的信息用作我们保护网站或应用安全的一部分（例如，用于欺诈监控和预防）。</p><br/>
  <p>·         在您的同意下实现用户与用户的通信。我们可能会使用您的信息，以便在每个用户的同意下实现用户与用户之间的通信。</p><br/>
  <p>·         执行我们的商业目的，法律原因和可能的合同条款，条件和政策。</p><br/>
  <p>·         回应法律要求并防止法律原因受到损害。如果我们收到传票或其他法律请求，我们可能需要检查我们持有的数据以确定如何回应。</p><br/>
  <p>·         其他商业目的。我们可能会将您的信息用于其他商业目的，例如数据分析，识别使用趋势，确定促销活动的有效性以及评估和改进我们的网站或应用，产品，服务，营销和您的体验，或开发新工具，新产品和新服务。</p><br/>

  <h4 >3.您的信息是否会与任何人分享？</h4><br/>

  <p>我们遵照法律法规的规定，对信息的分享进行严格的限制。我们仅会在征得您同意，遵守所有保护您权利的法律条规，并且履行所有业务义务的情况下共享您的信息。例如：</p><br/>
  <p>·         经您事先同意，我们可能与第三方分享您的个人信息；</p><br/>
  <p>·         仅为实现外部处理的目的，我们可能会与第三方合作伙伴（第三方服务供应商、承包商、代理、广告合作伙伴、应用开发者等，例如，代表我们发出电子邮件或推送通知的通讯服务提供商、为我们提供位置服务的地图服务供应商）（他们可能并非位于您所在的法域）分享您的个人信息，让他们按照我们的说明、隐私政策以及其他相关的保密和安全措施来为我们处理上述信息。示例包括：支付处理，数据分析，电子邮件递送，托管服务，客户服务和营销工作。我们可能允许选定的第三方在网站或应用上使用跟踪技术，这将使他们能够收集有关您如何随时间与网站或应用互动的数据。除其他外，该信息可用于分析和跟踪数据，确定某些内容的流行度并更好地理解在线活动。除非本政策中有所描述，否则我们不会出于促销目的与第三方共享，出售，出租或交易您的任何信息。如我们与上述第三方分享您的信息，我们将会采用加密、匿名化处理等手段保障您的信息安全。</p><br/>
  <p>·         随着我们业务的持续发展，当发生合并、收购、资产转让等交易导致向第三方分享您的个人信息时，我们将通过推送通知、公告等形式告知您相关情形，按照法律法规及不低于本政策所要求的标准继续保护或要求新的管理者继续保护您的个人信息。</p><br/>
  <p>·         我们会将所收集到的信息用于大数据分析。例如，我们将收集到的信息用于分析形成不包含任何个人信息的地域使用报告。我们可能对外公开并与我们的合作伙伴分享经统计加工后不含身份识别内容的信息，用于了解用户如何使用我们服务或让公众了解我们服务的总体使用趋势。</p><br/>
  <p>·         第三方广告商。当您访问网站或应用时，我们可能会使用第三方广告公司来投放广告。这些公司可能会使用有关您访问我们的网站以及网络cookie和其他跟踪技术中包含的信息，以便提供您感兴趣的商品和服务的广告。</p><br/>
  <p>·         分支机构。我们可能会与我们的关联公司分享您的信息，在这种情况下，我们将要求这些关联公司遵守本隐私政策。关联公司包括我们的母公司以及我们控制或与我们共同控制的任何子公司，合资伙伴或其他公司。</p><br/>
  <p>·         业务合作伙伴。我们可能会与业务合作伙伴共享您的信息，以便为您提供某些产品，服务或促销活动。</p><br/>
  <p>·         其他用户。当您共享个人信息（例如，通过向网站或应用程序发布评论，贡献或其他内容）或以其他方式与网站或应用程序的公共区域进行交互时，所有用户都可以查看此类个人信息。如果您与我们的网站或应用程序的其他用户进行互动并通过社交网络（例如Facebook）进行注册，则社交网络上的联系人将会看到您的姓名，个人资料照片以及您的活动说明。同样，其他用户也可以查看您的活动说明，在我们的网站或应用中与您沟通，以及查看您的个人资料。</p><br/>
  <p>·  我们可能基于以下目的披露您的个人信息：</p><br/>
  <p>i. 遵守适用的法律法规等有关规定；</p><br/>
<p>ii. 遵守法院判决、裁定或其他法律程序的规定；</p><br/>

<p>iii. 遵守相关政府机关或其他法定授权组织的要求；</p><br/>

<p>iv. 我们有理由确信需要遵守法律法规等有关规定；</p><br/>

<p>v. 为执行相关服务协议或本政策、维护社会公共利益，为保护我们的客户、我们或我们的关联公司、其他用户或雇员的人身财产安全或其他合法权益合理且必要的用途。</p><br/>

  <h4 >4.我们是否使用COOKIES和其他跟踪技术？</h4><br/>

  <p>我们或我们的第三方合作伙伴，可能通过放置安全的Cookie及相关技术收集您的信息，目的是为您提供更个性化的用户体验和服务。我们会严格要求第三方合作伙伴遵守本政策的相关规定。</p><br/>
  <p>您也可以通过浏览器设置管理Cookie。但请注意，如果停用Cookie，您可能无法享受最佳的服务体验，某些服务也可能无法正常使用。</p><br/>

  <h4 >5.我们如何处理您的社交登录？</h4><br/>

  <p>概述：如果您选择使用社交媒体帐户注册或登录我们的网站，我们可能会访问您的某些信息。</p><br/>
  <p>您能够使用您的第三方社交媒体帐户（如您的微信或QQ登录）在我们的网站或应用程序进行注册和登录。如果您选择这样做，我们将从您的社交媒体提供商处获得有关您的某些个人资料信息。我们收到的个人资料信息可能因相关社交媒体提供商而异，但通常包括您的姓名，电子邮件地址，朋友列表，个人资料图片以及您选择公开的其他信息。</p><br/>
  <p>我们仅将我们收到的信息用于本隐私政策中描述的目的，或者在网站或应用程序中向您明确说明的目的。请注意，我们不控制您的第三方社交媒体提供商对您的个人信息的其他使用，也不对其负责。我们建议您查看其隐私政策，以了解他们如何收集，使用和共享您的个人信息，以及如何在其网站和应用上设置隐私首选项。</p><br/>

   <h4 >6.我们对第三方网站上的责任是什么？</h4><br/>

  <p>概述：我们不对您与第三方提供商分享的任何信息的安全性负责，因为第三方提供商与我们的网站无任何利益关系。</p><br/>
  <p>网站或应用程序可能包含来自第三方的广告，这些广告与我们无关，并且可能链接到其他网站，在线服务或移动应用程序。我们无法保证您向任何第三方提供的数据的安全性和隐私性。本隐私政策不涵盖第三方收集的任何数据。我们不对任何第三方的内容或隐私和安全做法和政策负责，包括可能链接到站点或应用程序或从站点或应用程序链接的其他网站，服务或应用程序。您应该查看此类第三方的政策，并直接与他们联系以回答您的问题。</p><br/>

  <h4 >7.我们如何保留您的信息？</h4><br/>

  <p>概述：除非法律另有要求，否则我们仅会在必要时保留您的信息，以实现本隐私政策中列出的目的。</p><br/>
  <p>除非法律要求或允许更长的保留期限（例如税务，会计或其他法律要求），否则我们只会在本隐私政策中规定的目的下保留您的个人信息。本政策中的任何目的都不会要求我们在用户终止帐户1年后仍保留您的个人信息。</p><br/>
  <p>如果我们没有正在进行的合法业务需要处理您的个人信息，我们将删除您的相关信息。如果删除无法实现（例如，因为您的个人信息已存储在数据库备份档案中），那么我们将安全存储您的个人信息，并将其隔离，直至删除为止。</p><br/>
  <p>有一些例外情况，即使您决定删除帐户，我们仍会保留您的数据：</p><br/>
  <p>·         我们持有的个人数据是行使言论自由权所必需的;</p><br/>
  <p>·         有法律义务要求我们保留信息;</p><br/>
  <p>·         出于公共利益的原因（例如公共卫生，科学，统计或历史研究目的）。</p><br/>
  <p>·         我们认为有必要对违反我们政策的行为进行调查，预防或采取措施</p><br/>

   <h4 >8.我们如何保护您的信息安全？</h4><br/>

  <p>我们为您的信息提供相应的安全保障，以防止信息的丢失、不当使用、未经授权访问或披露。</p><br/>
  <p>8.1我们严格遵守法律法规保护用户的通信秘密。</p><br/>
  <p>8.2我们将在合理的安全水平内使用各种安全保护措施以保障信息的安全。例如，我们使用加密技术（例如，TLS、SSL）、匿名化处理等手段来保护您的个人信息。</p><br/>
  <p>8.3我们建立专门的管理制度、流程和组织确保信息安全。例如，我们严格限制访问信息的人员范围，要求他们遵守保密义务，并进行审查。</p><br/>
  <p>8.4若发生个人信息泄露等安全事件，我们会启动应急预案，阻止安全事件扩大，并以推送通知、公告等形式告知您。</p><br/>
  <p>我们已实施适当的技术和组织安全措施，旨在保护我们处理的任何个人信息的安全。但是，请记住，我们无法保证互联网本身是100％安全的。虽然我们会尽最大努力保护您的个人信息，但是从我们的网站或应用程序传输个人信息的风险由您自行承担。您应该只在安全的环境中访问服务。</p><br/>

  <h4 >9. 未成年人保护</h4><br/>

  <p>我们非常重视对未成年人个人信息的保护。根据相关法律法规的规定，若您是18周岁以下的未成年人，在使用Givenera的服务前，应事先取得您的家长或法定监护人的同意。若您是未成年人的监护人，当您对您所监护的未成年人的个人信息有相关疑问时，请通过下面的联系方式与我们联系。</p><br/>

  <h4 >10.帐户信息</h4><br/>

  <p>如果您希望查看或更改帐户中的信息或终止帐户，您可以：</p><br/>
  <p>■登录您的帐户设置并更新您的用户帐户。</p><br/>
  <p>根据您的终止帐户的请求，我们将停用或删除您的帐户以及我们数据库中相应的信息。但是，我们的文件中可能会保留一些信息，以防止欺诈，排除问题，协助调查，执行我们的使用条款和/或遵守法律要求。</p><br/>
  <p>Cookie和类似技术：默认情况下，大多数Web浏览器都设置为接受Cookie。如果您愿意，通常可以选择将浏览器设置为删除cookie并拒绝cookie。如果您选择删除Cookie或拒绝Cookie，则可能会影响我们网站或应用的某些功能或服务。</p><br/>
  <p>选择退出电子邮件营销：您可以随时点击我们发送的电子邮件中的取消订阅链接或使用下面提供的详细信息与我们联系，取消订阅我们的营销电子邮件列表。之后，您将从营销电子邮件列表中删除 - 但是，我们仍然需要向您发送管理和使用您的帐户所需的服务相关电子邮件。如果选择退出，您可以：</p><br/>

  <p>■访问您的帐户设置和更新首选项。</p><br/>
  <p>■在网站上注册帐户时，请注意您的首选项。</p><br/>

   <h4 >11.我们是否对此政策进行了更新？</h4><br/>

  <p>概述：是的，我们会在必要时更新此政策，以遵守相关法律。</p><br/>
  <p>我们可能会不时更新本隐私政策。更新版本将由更新的“修订”日期指示，更新后的版本将在可访问时生效。如果我们对本隐私政策进行重大更改，我们可能会通过直接向您发送通知来通知您。我们建议您经常查看本隐私政策，以了解我们如何保护您的信息。</p><br/>

     <h4 >12.您如何与我们联系以了解此政策？</h4><br/>

     <p>如果您对本政策有任何疑问或意见，可以发送电子邮件至givenera2014@gmail.com联系我们的数据保护官（DPO）Michael Chen。</p><br/> -->            

              </div>
            </div>
            
            
           <span class="blank10"></span>       
  <div class="content-block">
  <div class="footborder"> </div>
  <p class=" zi12 line35 color-white" align="center">    Copyright 2018 Givenera llc. All Rights Reserved </p><br/> </div>              
          </div>
          </div>           
          

          <!-- foot-->
       
          <!-- foot--> 
          
        </div>
        
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="js/my-app.js"></script> 
<script >
	$(function(){
		$('.open-panel').click(function(){
			var $menu = $('.menur');
			if( $menu.is(":visible") ){
        // $(this).children().css("");
        $(".icon-bars").attr("class","icon icon-bars");
				$menu.hide();
			}else{
        $(".icon-bars").attr("class","icon icon-bars");
				$menu.show();
			}
		});	
	});
	</script>
</body>
</html>