<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
<title>国外社交平台</title>
<script src="js/top.js"></script>
<link  rel="stylesheet" href="css/css.css">
<link  rel="stylesheet" href="css/fudong.css">
</head>
<body>
<div class="header">
 <div class="headerw">
 <div class="menu">
 <div class="logo"><a href="index.html"><img src="images/logo.png" width="88" height="88"></a></div>

   <div class="nav">
     <ul>
       <a href="index.html" ><li class="aa" style="text-align:right" >首页</li></a>
     </ul>
   </div>
 
 </div>
 </div>
</div>





<div class="banner5" id="banner5">
<div class="text"><img src="images/contactus_title.png" ></div>
<div class="contactusbg">
 <div class="left"><input name="" type="text" class="contactinput w" style="color:#000000; outline:none;"value="邮箱*" onfocus="this.value=''" onblur="this.value='邮箱*'"></div>
 <div class="right"><input name="" type="text" class="contactinput w" style="color:#000000; outline:none;"value="名字*" onfocus="this.value=''" onblur="this.value='名字*'"></div>
 
 <div class="left"><input name="" type="text" class="contactinput w1" style="color:#000000; outline:none;"value="类型" onfocus="this.value=''" onblur="this.value='类型'"></div>
 
  <div class="left"><textarea cols="50" rows="5" id="textarea"  class="contactinput1 w1" onKeyDown="textdown(event)"
    onKeyUp="textup()" onfocus="if(value=='留言'){value=''}"
    onblur="if (value ==''){value='留言'}">留言</textarea></div>
 <span class="blank10"></span>
 <div class="subbtn">提交</div>
 
</div>
<div class="foot">
  <span class="left"><a href="service.html">服务条款 </a> <a href="Privacypolicy.html" class="btn_pad">隐私政策</a> <a href="qa.html" class="btn_pad">问与答</a> <a href="contactus.html" class="btn_pad">联系我们</a></span>
   <span class="right">Copyright 2018 Givenera llc. All Rights Reserved</span>
</div>

</div>


<div class="floating_ck">
	<dl>
    	<dt></dt>
        <a href="https://www.facebook.com/Givenera-366469430356578/" target="_blank" >
        <dd class="consult">        	
        	<div class="floating_left">facebook</div>
        </dd>
        </a><a href="https://twitter.com/givenera" target="_blank">
        <dd class="words">
        	
          <div class="floating_left">twitter</div>
        </dd></a><a href="https://www.youtube.com/channel/UCcHTQjfWMqHyS9RQX1Mm6Ag" target="_blank">
        <dd class="qrcord">
        	
            <div class="floating_left">youtube</div>
        </dd>
        </a>
      <dd class="return">
        	<span onClick="gotoTop();return false;"></span>
        </dd>
    </dl>
</div>


</body>
</html>
