<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
<title>国外社交平台</title>

<link  rel="stylesheet" href="css/css.css">
<link  rel="stylesheet" href="css/framework7.ios.min.css">
<style type="text/css">
	 	.sfxzggli{  height:167px; float:left; color:#FFF; font-size:24px; line-height:167px; text-align:center; text-shadow: 0 0 0.7em #3de4db,
                -0 -0 0.7em #3de4db;display: block; width:100%; border:3px solid #3489fd; border-radius:8px
				 }
		.sfxzggli:hover{ background:#0f42ad; cursor: pointer}
		.sfxzgg{ position: absolute;
		    top: 42%;
		    left: 50%;
		    transform: translate(-50%, -50%); width:70%;
		}
</style>
</head>
<body  class="bg">

<div ><a href="index.html"> <div class="screen_title1" style="top: 25px; z-index:9999;"><span class="left"><i class="lnr lnr-chevron-left"></i></span>返回</div></a><img src="images/sfxzgg.png" width="100%" style="z-index:1000;"></div>

<!--    <div class="sfxzgg">
     <ul>
      <a href="teacher/login.html"> <li>教师</li></a>
      <a href="hr/login.html"> <li class="aa">人力资源主管</li></a>
      <a href="volunteer/login.html"> <li>志愿者组织</li></a>
     </ul>
   </div> -->

	   <div class="sfxzgg">
		<div class="row" align="center">
	        <div class="col-33 sfxzggli" onclick="jeep();">教师</div>
	        <div class="col-33 sfxzggli" onclick="jeep1();">人力资源主管</div>
	        <div class="col-33 sfxzggli" onclick="jeep2();">志愿者组织</div>
      	</div>

   </div>
   <script type="text/javascript">
   			function jeep(){
   				location.href="/teacher/login.html";
   			}
   			function jeep1(){
   				location.href="/hr/login.html";
   			}
   			function jeep2(){
   				location.href="/volunteer/login.html";
   			}
   </script>

</body>
</html>
