<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcby.dao.CpnDepartmentMapper">
  <resultMap id="BaseResultMap" type="com.qcby.entity.CpnDepartment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="parent_id" jdbcType="BIGINT" property="parent_id" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_at" jdbcType="BIGINT" property="create_at" />
    <result column="update_at" jdbcType="BIGINT" property="update_at" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, description, parent_id, status, create_at, update_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cpn_department
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cpn_department
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qcby.entity.CpnDepartment">
    insert into cpn_department (id, name, description, 
      parent_id, status, create_at, 
      update_at)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{parent_id,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}, #{create_at,jdbcType=BIGINT}, 
      #{update_at,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.qcby.entity.CpnDepartment">
    insert into cpn_department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="parent_id != null">
        parent_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="create_at != null">
        create_at,
      </if>
      <if test="update_at != null">
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="parent_id != null">
        #{parent_id,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="create_at != null">
        #{create_at,jdbcType=BIGINT},
      </if>
      <if test="update_at != null">
        #{update_at,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qcby.entity.CpnDepartment">
    update cpn_department
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="parent_id != null">
        parent_id = #{parent_id,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="create_at != null">
        create_at = #{create_at,jdbcType=BIGINT},
      </if>
      <if test="update_at != null">
        update_at = #{update_at,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qcby.entity.CpnDepartment">
    update cpn_department
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      parent_id = #{parent_id,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      create_at = #{create_at,jdbcType=BIGINT},
      update_at = #{update_at,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>