<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcby.dao.OrgAssistantMapper">
  <resultMap id="BaseResultMap" type="com.qcby.entity.OrgAssistant">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="assistant_id" jdbcType="BIGINT" property="assistant_id" />
    <result column="org_id" jdbcType="BIGINT" property="org_id" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="begin_date" jdbcType="BIGINT" property="begin_date" />
    <result column="end_date" jdbcType="BIGINT" property="end_date" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
  </resultMap>
  <sql id="Base_Column_List">
    id, assistant_id, org_id, status, begin_date, end_date, mobile
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from "t_org_assistant"
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from "t_org_assistant"
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qcby.entity.OrgAssistant">
    insert into "t_org_assistant" (id, assistant_id, org_id, 
      status, begin_date, end_date, 
      mobile)
    values (#{id,jdbcType=BIGINT}, #{assistant_id,jdbcType=BIGINT}, #{org_id,jdbcType=BIGINT}, 
      #{status,jdbcType=TINYINT}, #{begin_date,jdbcType=BIGINT}, #{end_date,jdbcType=BIGINT}, 
      #{mobile,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qcby.entity.OrgAssistant">
    insert into "t_org_assistant"
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="assistant_id != null">
        assistant_id,
      </if>
      <if test="org_id != null">
        org_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="begin_date != null">
        begin_date,
      </if>
      <if test="end_date != null">
        end_date,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="assistant_id != null">
        #{assistant_id,jdbcType=BIGINT},
      </if>
      <if test="org_id != null">
        #{org_id,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="begin_date != null">
        #{begin_date,jdbcType=BIGINT},
      </if>
      <if test="end_date != null">
        #{end_date,jdbcType=BIGINT},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qcby.entity.OrgAssistant">
    update "t_org_assistant"
    <set>
      <if test="assistant_id != null">
        assistant_id = #{assistant_id,jdbcType=BIGINT},
      </if>
      <if test="org_id != null">
        org_id = #{org_id,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="begin_date != null">
        begin_date = #{begin_date,jdbcType=BIGINT},
      </if>
      <if test="end_date != null">
        end_date = #{end_date,jdbcType=BIGINT},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qcby.entity.OrgAssistant">
    update "t_org_assistant"
    set assistant_id = #{assistant_id,jdbcType=BIGINT},
      org_id = #{org_id,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      begin_date = #{begin_date,jdbcType=BIGINT},
      end_date = #{end_date,jdbcType=BIGINT},
      mobile = #{mobile,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>