<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcby.dao.PubApprLikeMapper">
  <resultMap id="BaseResultMap" type="com.qcby.entity.PubApprLike">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="appr_id" jdbcType="BIGINT" property="appr_id" />
    <result column="user_id" jdbcType="BIGINT" property="user_id" />
    <result column="create_at" jdbcType="BIGINT" property="create_at" />
  </resultMap>
  <sql id="Base_Column_List">
    id, appr_id, user_id, create_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from appr_like
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from appr_like
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qcby.entity.PubApprLike">
    insert into appr_like (id, appr_id, user_id, 
      create_at)
    values (#{id,jdbcType=BIGINT}, #{appr_id,jdbcType=BIGINT}, #{user_id,jdbcType=BIGINT}, 
      #{create_at,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.qcby.entity.PubApprLike">
    insert into appr_like
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appr_id != null">
        appr_id,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
      <if test="create_at != null">
        create_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appr_id != null">
        #{appr_id,jdbcType=BIGINT},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=BIGINT},
      </if>
      <if test="create_at != null">
        #{create_at,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qcby.entity.PubApprLike">
    update appr_like
    <set>
      <if test="appr_id != null">
        appr_id = #{appr_id,jdbcType=BIGINT},
      </if>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=BIGINT},
      </if>
      <if test="create_at != null">
        create_at = #{create_at,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qcby.entity.PubApprLike">
    update appr_like
    set appr_id = #{appr_id,jdbcType=BIGINT},
      user_id = #{user_id,jdbcType=BIGINT},
      create_at = #{create_at,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--  查询指定用户的感恩数量-->
  <select id="selectApprCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
       SELECT COUNT(appr_id)
       FROM appr_like as al,pc_user_department as pud
       WHERE al.user_id=pud.update_at
  </select>


</mapper>