<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcby.dao.PubApprImgMapper">
  <resultMap id="BaseResultMap" type="com.qcby.entity.PubApprImg">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="appr_id" jdbcType="BIGINT" property="appr_id" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="store_type" jdbcType="SMALLINT" property="store_type" />
    <result column="aliyun_videoId" jdbcType="VARCHAR" property="aliyun_videoId" />
    <result column="aliyun_imgurl" jdbcType="VARCHAR" property="aliyun_imgurl" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="size" jdbcType="BIGINT" property="size" />
    <result column="create_by" jdbcType="BIGINT" property="create_by" />
    <result column="create_at" jdbcType="BIGINT" property="create_at" />
  </resultMap>
  <sql id="Base_Column_List">
    id, appr_id, type, store_type, aliyun_videoId, aliyun_imgurl, url, size, create_by, 
    create_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pub_appr_img
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pub_appr_img
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qcby.entity.PubApprImg">
    insert into pub_appr_img (id, appr_id, type, 
      store_type, aliyun_videoId, aliyun_imgurl, 
      url, size, create_by, 
      create_at)
    values (#{id,jdbcType=BIGINT}, #{appr_id,jdbcType=BIGINT}, #{type,jdbcType=SMALLINT}, 
      #{store_type,jdbcType=SMALLINT}, #{aliyun_videoId,jdbcType=VARCHAR}, #{aliyun_imgurl,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{size,jdbcType=BIGINT}, #{create_by,jdbcType=BIGINT}, 
      #{create_at,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.qcby.entity.PubApprImg">
    insert into pub_appr_img
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appr_id != null">
        appr_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="store_type != null">
        store_type,
      </if>
      <if test="aliyun_videoId != null">
        aliyun_videoId,
      </if>
      <if test="aliyun_imgurl != null">
        aliyun_imgurl,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="create_by != null">
        create_by,
      </if>
      <if test="create_at != null">
        create_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appr_id != null">
        #{appr_id,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=SMALLINT},
      </if>
      <if test="store_type != null">
        #{store_type,jdbcType=SMALLINT},
      </if>
      <if test="aliyun_videoId != null">
        #{aliyun_videoId,jdbcType=VARCHAR},
      </if>
      <if test="aliyun_imgurl != null">
        #{aliyun_imgurl,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=BIGINT},
      </if>
      <if test="create_by != null">
        #{create_by,jdbcType=BIGINT},
      </if>
      <if test="create_at != null">
        #{create_at,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qcby.entity.PubApprImg">
    update pub_appr_img
    <set>
      <if test="appr_id != null">
        appr_id = #{appr_id,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=SMALLINT},
      </if>
      <if test="store_type != null">
        store_type = #{store_type,jdbcType=SMALLINT},
      </if>
      <if test="aliyun_videoId != null">
        aliyun_videoId = #{aliyun_videoId,jdbcType=VARCHAR},
      </if>
      <if test="aliyun_imgurl != null">
        aliyun_imgurl = #{aliyun_imgurl,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=BIGINT},
      </if>
      <if test="create_by != null">
        create_by = #{create_by,jdbcType=BIGINT},
      </if>
      <if test="create_at != null">
        create_at = #{create_at,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qcby.entity.PubApprImg">
    update pub_appr_img
    set appr_id = #{appr_id,jdbcType=BIGINT},
      type = #{type,jdbcType=SMALLINT},
      store_type = #{store_type,jdbcType=SMALLINT},
      aliyun_videoId = #{aliyun_videoId,jdbcType=VARCHAR},
      aliyun_imgurl = #{aliyun_imgurl,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      size = #{size,jdbcType=BIGINT},
      create_by = #{create_by,jdbcType=BIGINT},
      create_at = #{create_at,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>