<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcby.dao.PubApprUserDataMapper">
  <resultMap id="BaseResultMap" type="com.qcby.entity.PubApprUserData">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="helpee_number" jdbcType="BIGINT" property="helpee_number" />
    <result column="helper_number" jdbcType="BIGINT" property="helper_number" />
    <result column="service_time" jdbcType="BIGINT" property="service_time" />
    <result column="update_at" jdbcType="BIGINT" property="update_at" />
  </resultMap>
  <sql id="Base_Column_List">
    id, helpee_number, helper_number, service_time, update_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from appr_user_data
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from appr_user_data
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qcby.entity.PubApprUserData">
    insert into appr_user_data (id, helpee_number, helper_number, 
      service_time, update_at)
    values (#{id,jdbcType=BIGINT}, #{helpee_number,jdbcType=BIGINT}, #{helper_number,jdbcType=BIGINT}, 
      #{service_time,jdbcType=BIGINT}, #{update_at,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.qcby.entity.PubApprUserData">
    insert into appr_user_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="helpee_number != null">
        helpee_number,
      </if>
      <if test="helper_number != null">
        helper_number,
      </if>
      <if test="service_time != null">
        service_time,
      </if>
      <if test="update_at != null">
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="helpee_number != null">
        #{helpee_number,jdbcType=BIGINT},
      </if>
      <if test="helper_number != null">
        #{helper_number,jdbcType=BIGINT},
      </if>
      <if test="service_time != null">
        #{service_time,jdbcType=BIGINT},
      </if>
      <if test="update_at != null">
        #{update_at,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qcby.entity.PubApprUserData">
    update appr_user_data
    <set>
      <if test="helpee_number != null">
        helpee_number = #{helpee_number,jdbcType=BIGINT},
      </if>
      <if test="helper_number != null">
        helper_number = #{helper_number,jdbcType=BIGINT},
      </if>
      <if test="service_time != null">
        service_time = #{service_time,jdbcType=BIGINT},
      </if>
      <if test="update_at != null">
        update_at = #{update_at,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qcby.entity.PubApprUserData">
    update appr_user_data
    set helpee_number = #{helpee_number,jdbcType=BIGINT},
      helper_number = #{helper_number,jdbcType=BIGINT},
      service_time = #{service_time,jdbcType=BIGINT},
      update_at = #{update_at,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectHelperAndTime" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM appr_user_data as aud
    WHERE aud.id=#{id,jdbcType=BIGINT}
  </select>

</mapper>